<ion-view>

<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Category 1</h1>
  <div class = "buttons aehp-box">12/50</div>
</ion-header-bar>

<ion-content>

<div class="aehp-separator"></div>
<div class="aehp-separator"></div>

  <div class="text-center aehp-citation">
    <p>
    "Frase 1 Frase 1 Frase 1 Frase 1
    Frase 1 Frase 1 Frase 1 Frase 1"
    </p>
  </div>

  <div class="aehp-separator"></div>

  <div class="text-center">
    "Autor"
  </div>

  <div class="aehp-separator"></div>

  <div class="text-center">
    <img src="assets/img/thumbs/green-thumb.png">
  </div>

</ion-content>

<ion-footer-bar class="bar-assertive">

  <div class="row">
    <div class="col col-center text-center">

      <button class="button button-block" ng-click="doSomething()">
        <i class="icon ion-arrow-left-b"></i>
      </button>

    </div>

    <div class="col col-center text-center">

      <button class="button button-block" ng-click="doSomething()">
          <i class="icon ion-home"></i>
      </button>

    </div>

    <div class="col col-center text-center">

      <button class="button button-block" ng-click="doSomething()">
        <i class="icon ion-arrow-right-b"></i>
      </button>

    </div>    

  </div>

</ion-footer-bar>

</ion-view>