<ion-view>

<div class="bar bar-header bar-positive">
  <h1 class="title">{{ model.nameCategory }}</h1>
  <button class="button">{{ model.rangeCitation}}</button>
</div>

<ion-content class="padding has-header">

  <div class="aehp-separator"></div>
  <div class="aehp-separator"></div>

  <div class="text-center aehp-citation">
    <p>
      &#8220; {{ model.contentCitation }} &#8221;
    </p>
  </div>

  <div class="aehp-separator"></div>

  <div class="text-center">
    {{ model.authorCitation }}
  </div>

  <div class="aehp-separator"></div>

  <div class="text-center">
    <img src="{{ model.imageLoved }}" ng-click="actions.updateCitationImageIsLoved()">
  </div>

</ion-content>

<ion-footer-bar class="bar-assertive">

  <div class="row">
    <div class="col col-center text-center">

      <button class="button button-block" ng-click="actions.goToPrecedentCitation()">
        <i class="icon ion-arrow-left-b"></i>
      </button>

    </div>

    <div class="col col-center text-center">

      <button class="button button-block" ng-click="actions.goToCategories()">
          <i class="icon ion-home"></i>
      </button>

    </div>

    <div class="col col-center text-center">

      <button class="button button-block" ng-click="actions.goToNextCitation()">
        <i class="icon ion-arrow-right-b"></i>
      </button>

    </div>    

  </div>

</ion-footer-bar>

</ion-view>