<ion-view>

<div class="bar bar-header bar-positive">
  <h1 class="title">{{ 'CATEGORIES_TITLE' | translate }}</h1>
</div>

<ion-content class="padding has-header">

  <div class="row" ng-repeat="row in model.rows">
    <div class="col col-50" ng-repeat="col in row">

      <div class="aehp-category" ng-click="actions.goToCitation(col.id)">

        <div class="text-center">
          <img src="assets/img/categories/{{ col.icon }}">
   	      <img src="assets/img/thumbs/{{ col.nbCitationsLoved ? 'green-thumb.png' : 'white-thumb.png' }}" width="20px">
   		  {{ col.nbCitationsLoved }}
        </div>
        <div class="aehp-category-name text-center">
          {{ col.name }}
        </div>

      </div>

    </div>
  </div>

</ion-content>

<ion-footer-bar class="bar-assertive">

  <div class="row">

    <div class="col col-center">
      <button class="button button-block" ng-click="actions.goToSettingsCategories()">
        <i class="icon ion-gear-a"></i>
      </button>
    </div>

    <div class="col col-center">
      <button class="button button-block" ng-click="actions.goToSettingsLanguage()">
        <i class="icon ion-earth"></i>
      </button>
    </div>

  </div>

</ion-footer-bar>

</ion-view>